.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	padding: 20px;
	color: white;
}

.App-intro {
	font-size: large;
	width: 200px;
	margin: 0 auto;
	text-align: left;
	padding-top: 30px;
}

.App-intro ul{
	padding-top: 10px;
	padding-left: 0;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.item {
	margin-top: 5px;
}

.item span {
	cursor: pointer;
}

.unfinishItem {
	color: blueviolet;
}

.finishItem {
	color: gray;
	text-decoration: line-through;
}

.deleteBtn {
	float: right;
}